#parrafo1 {
    color: blue;
    width: 300px;
    height: automatic;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    background-color: yellow;
    border: 2px solid black;
}

#parrafo2 {
    color: red;
    width: 400px;
    padding: 10px; 20px;
    text-align: center horizontal;
    background-color: green;
    border: 2px solid gray;
}

#parrafo3 {
    color: black;
    width: 50%;
    padding: 20px;
    text-align: center horizontal;
    background-color: blue;
    border: 2px solid brown;
}